.errorbox {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: #fff;
    line-height: 26px;
    font-size: 16px;
    overflow: hidden;
}

.error-total, .warning-total {
    margin-left: 25px;
}

.error-icon {
    display: inline-block;
    color: #f76b6b;
    margin: 0 10px;
}

.warning-icon {
    display: inline-block;
    color: #f69f41;
    margin: 0 10px;
}

.error-title {
    position: relative;
    padding: 0 10px;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 40px;
    line-height: 40px;
    border: solid 1px #e5e5e5;
    cursor: pointer;
}

.error-content {
    width: 100%;
    height: 200px;
    overflow: auto;
}

.error-content.off {
    height: 0px;
    overflow: hidden;
}

.error-content pre {
    padding: 0;
    border: 0;
    line-height: 24px;
    margin: 0;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

.error-content pre:hover {
    color: #6f6dd8;
}

.toggle {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    color: #888;
    font-size: 20px;
}

.toggle.off {
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
}