@charset "UTF-8";
/*@font-face {*/
  /*font-family: 'Magneto';*/
  /*src: url("../../fonts/Magneto-Bold.otf");*/
/*}*/

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 768px;
  background-color: #fefdfc;
}

table {
  border-collapse: collapse;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,PingFang SC,Microsoft YaHei,Source Han Sans SC,Noto Sans CJK SC,WenQuanYi Micro Hei,sans-serif;
  font-size: 14px;
  color: #333;
}

select.form-control, input.form-control {
  height: 30px;
  width: 230px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  padding: 0 5px;
  outline: none;
  color: #888;
  font-size: 14px;
}

select.form-control {
  padding: 0 2px;
  width: 120px;
}

textarea.form-control {
  border: 1px solid #e5e5e5;
  font-size: 14px;
  border-radius: 2px;
  color: #888;
  padding: 5px;
  resize: none;
}

.form-control:focus {
  border-color: #6f6dd8;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6f6dd8;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #6f6dd8;
}

.checkbox {
  display: inline-block;
  width: 100px;
  height: 36px;
  line-height: 30px;
  padding-right: 10px;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}

.checkbox i {
  font-style: normal;
}

.checkbox input:checked + i {
  color: #6f6dd8;
}

.checkbox input {
  position: relative;
  width: 0px;
  height: 16px;
  margin: 0 5px 0 16px;
}

.checkbox input::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -16px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 2px;
  border: 1px solid #e5e5e5;
  z-index: 5;
}

.checkbox input:checked::after {
  border: 1px solid #6f6dd8;
}

.checkbox input:checked::before {
  content: "";
  position: absolute;
  top: 5px;
  left: -14px;
  width: 10px;
  height: 10px;
  background-color: #6f6dd8;
  border-radius: 2px;
  z-index: 10;
}

.radio {
  display: inline-block;
  width: 100px;
  height: 36px;
  line-height: 30px;
  padding-right: 10px;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}

.radio i {
  font-style: normal;
}

.radio input:checked + i {
  color: #6f6dd8;
}

.radio input {
  position: relative;
  width: 0px;
  height: 16px;
  margin: 0 5px 0 16px;
}

.radio input::after {
  content: "";
  position: absolute;
  top: 3px;
  left: -16px;
  width: 12px;
  height: 12px;
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #e5e5e5;
  z-index: 5;
}

.radio input:checked::after {
  border: 2px solid #6f6dd8;
}

.radio input:checked::before {
  content: "";
  position: absolute;
  top: 7px;
  left: -12px;
  width: 8px;
  height: 8px;
  background-color: #6f6dd8;
  border-radius: 5px;
  z-index: 10;
}

/* 设置滚动条的样式 */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-button:start:increment, ::-webkit-scrollbar-button:end:decrement {
  display: none;
}

::-webkit-scrollbar-corner {
  display: block;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-thumb:hover {
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

::-webkit-scrollbar-track:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

::-webkit-scrollbar-button:vertical:start {
  width: 10px;
  height: 10px;
  /*background: url(../../images/scrollbar_arrow.png) no-repeat 0 0;*/
}

::-webkit-scrollbar-button:vertical:start:hover {
  /*background: url(../../images/scrollbar_arrow.png) no-repeat -15px 0;*/
}

::-webkit-scrollbar-button:vertical:start:active {
  /*background: url(../../images/scrollbar_arrow.png) no-repeat -30px 0;*/
}

::-webkit-scrollbar-button:vertical:end {
  width: 10px;
  height: 10px;
  /*background: url(../../images/scrollbar_arrow.png) no-repeat 0 -18px;*/
}

::-webkit-scrollbar-button:vertical:end:hover {
  /*background: url(../../images/scrollbar_arrow.png) no-repeat -15px -18px;*/
}

::-webkit-scrollbar-button:vertical:end:active {
  /*background: url(../../images/scrollbar_arrow.png) no-repeat -30px -18px;*/
}

::-webkit-scrollbar-button:horizontal:start {
  width: 10px;
  height: 10px;
  /*background: url(../../images/scrollbar_arrow_h.png) no-repeat 0 0;*/
}

::-webkit-scrollbar-button:horizontal:start:hover {
  /*background: url(../../images/scrollbar_arrow_h.png) no-repeat 0 -15px;*/
}

::-webkit-scrollbar-button:horizontal:start:active {
  /*background: url(../../images/scrollbar_arrow_h.png) no-repeat 0 -30px;*/
}

::-webkit-scrollbar-button:horizontal:end {
  width: 10px;
  height: 10px;
  /*background: url(../../images/scrollbar_arrow_h.png) no-repeat -18px 0;*/
}

::-webkit-scrollbar-button:horizontal:end:hover {
  /*background: url(../../images/scrollbar_arrow_h.png) no-repeat -18px -15px;*/
}

::-webkit-scrollbar-button:horizontal:end:active {
  /*background: url(../../images/scrollbar_arrow_h.png) no-repeat -18px -30px;*/
}


