.login {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  /*background-image: url("../../images/bg.jpg");*/
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 1024px;
  min-height: 768px;
}

.loginbox {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin-top: -150px;
}

.login-logo {
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 30px;
  font-family: 'Magneto';
  color: #6f6dd8;
  text-align: center;
}

.login-logo b {
  font-size: 20px;
  font-weight: bold;
}

.with-account, .with-phone, .with-weixin, .with-qq {
  position: relative;
  width: 360px;
  height: 360px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  padding: 10px 30px 30px 30px;
  -webkit-box-shadow: 0px 0px 50px 3px rgba(39, 54, 78, 0.1);
          box-shadow: 0px 0px 50px 3px rgba(39, 54, 78, 0.1);
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.9);
}

.with-phone h3 {
  margin: 18px;
}

.with-qq a {
  display: inline-block;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background-color: #6f6dd8;
  color: #fff;
  margin-top: 100px;
  border-radius: 2px;
  text-decoration: none;
}

.with-weixin iframe {
  position: absolute;
  top: calc(50% - 80px);
  left: calc(50% - 100px);
  width: 200px;
  height: 240px;
  overflow: hidden;
  border: none;
}

.phone-group, .code-group, .pwd-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 40px;
  margin: 18px 0;
}

.phone-input{
  display:none;
}

.phone-group input, .code-group input, .pwd-group input {
  border: none;
  background: none;
  height: 36px;
  margin: 2px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
  border-bottom: 1px solid #e5e5e5;
}

.phone-group input, .pwd-group input {
  width: 100%;
}

.code-group input {
  width: 60%;
  margin-right: 10px;
}

.pwd-group input {
  width: 100%;
  padding-right: 10%;
}

.showpwd {
  position: absolute;
  right: -4px;
  width: 24px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  color: #aaa;
  font-size: 16px;
}

.code-btn {
  width: 40%;
  height: 36px;
  margin: 2px 0;
  text-align: center;
  line-height: 36px;
  font-size: 12px;
  cursor: pointer;
  color: #fff;
  border-radius: 18px;
  background-color: #6f6dd8;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.code-btn.disabled {
  background-color: #ccc;
}

.error {
  position: absolute;
  bottom: 20px;
  line-height: 18px;
  height: 18px;
  font-size: 12px;
  color: #ff5d5e;
}

.login-btn {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: #6f6dd8;
  text-align: center;
  line-height: 40px;
  border-radius: 20px;
  margin-top: 40px;
  color: #fff;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.login-btn:active, .code-btn:active {
  background-color: #5856b8;
}

.login-way {
  margin: 10px 0;
}

.login-way span {
  display: inline-block;
  line-height: 40px;
  height: 40px;
  padding: 0 15px;
  cursor: pointer;
  border-bottom: 2px solid #e5e5e5;
}

.login-way span.current {
  border-bottom: 2px solid #6f6dd8;
}

.back-login {
  position: absolute;
  top: 15px;
  left: 20px;
  cursor: pointer;
}

.back-login:hover {
  text-decoration: underline;
  color: #6f6dd8;
}

.loginwith-code, .loginwith-password {
  display: inline-block;
  width: 100%;
  height: 36px;
  line-height: 36px;
  text-align: right;
}

.loginwith-code i, .loginwith-password i {
  color: #6f6dd8;
  cursor: pointer;
  font-style: normal;
  padding: 0 5px;
}

