.projecteditor {
  position: relative;
  width: 100%;
  height: 100%;
}

.back {
  float: left;
  margin: 15px 0 15px 15px;
  width: 30px;
  height: 30px;
  line-height: 24px;
  text-align: center;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  border: 2px solid #fff;
  color: #fff;
  border-radius: 20px;
}

.back:hover {
  color: LightPink;
  border: 2px solid #fff;
  background-color: #fff;
  -webkit-box-shadow: 0 0 3px 1px rgba(39, 54, 78, 0.1);
          box-shadow: 0 0 3px 1px rgba(39, 54, 78, 0.1);
}

.projecttitle {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: #fff;
}

.charactercount {
  display: inline-block;
  height: 60px;
  line-height: 60px;
  padding: 0 10px;
  color: #888;
  font-weight: bold;
}

.charactercount span {
  padding: 0 5px;
}

.toolbar {
  position: absolute;
  top: 0;
  right: 40px;
  height: 60px;
  line-height: 60px;
}

.editor {
  position: relative;
  width: 100%;
  height: calc(100% - 60px);
}

.setings {
  width: 100%;
  height: calc(100% - 96px);
}

.seting-icon {
  -webkit-transform: rotate(-90deg);
          -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
  -webkit-transform-origin: 40% 50%;
          -ms-transform-origin: 40% 50%;
      transform-origin: 40% 50%;
}

.tab {
  width: 1024px;
  height: 100%;
  margin: 0 auto;
}

.tabs {
  display: inline-block;
  margin: 0;
  width: 100%;
  height: 50px;
  padding: 0;
}

.tabs li {
  display: inline-block;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  padding: 0 15px;
}

.tabs li.current {
  color: LightPink;
}

.paragraphs {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
          user-select: none;
  overflow: hidden;
}

.glogalcomment {
  position: absolute;
  width: 500px;
  height: 370px;
  left: 50%;
  top: 30%;
  margin: -150px 0 0 -250px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-box-shadow: 0 0 5px 1px rgba(39, 54, 78, 0.1);
          box-shadow: 0 0 5px 1px rgba(39, 54, 78, 0.1);
  padding: 30px 0 40px 0;
}

.glogalcomment-title {
  position: absolute;
  width: 100%;
  height: 30px;
  top: 0;
  left: 0;
  line-height: 30px;
  padding: 0 20px;
  background-color: #84d476;
  color: #fff;
  border-radius: 4px 4px 0 0;
}

.glogalcomment-text {
  width: 100%;
  height: 100%;
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow: hidden;
  word-break: break-all;
  padding: 15px;
  color: #888;
  font-size: 14px;
}

.glogalcomment-footer {
  position: absolute;
  width: 100%;
  height: 40px;
  bottom: 0px;
  left: 0;
  line-height: 40px;
  padding: 0 20px;
  border-top: 1px solid #e5e5e5;
  border-radius: 0 0 4px 4px;
  text-align: center;
}

.comment-yes, .comment-no {
  display: inline-block;
  width: 70px;
  height: 30px;
  margin-right: 5px;
  line-height: 30px;
  text-align: center;
  border-radius: 2px;
  cursor: pointer;
}

.comment-yes {
  color: #fff;
  background-color: #84d476;
}

.comment-no {
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

.comment-yes:hover {
  color: #fff;
  background-color: #70b863;
}

.comment-no:hover {
  background-color: #e5e5e5;
}

.comment-yes:active {
  background-color: #84d476;
}

.comment-no:active {
  border: 1px solid #e5e5e5;
  background-color: #fff;
}

