textarea {
  box-sizing: border-box; }

.zby-form-box {
  margin-bottom: 30px;
  padding: 0 20px;
  background: #fff; }

.zby-form-line-box {
  overflow: hidden;
  border-bottom: #eee solid 2px; }
  .zby-form-line-box.text-area .content .input-readonly {
    padding-top: 30px;
    padding-bottom: 30px;
    min-height: 200px;
    line-height: 40px;
    word-break: break-all; }
  .zby-form-line-box.text-area .content textarea {
    display: block;
    width: 100%;
    padding: 30px 0 30px 20px;
    min-height: 200px;
    font-size: 26px;
    line-height: 40px;
    color: #333;
    border: none;
    resize: none;
    outline: none; }
  .zby-form-line-box.select .content {
    padding: 0 20px; }
    .zby-form-line-box.select .content .input-readonly {
      padding: 0; }
  .zby-form-line-box.checkbox .checkbox-item-line:last-of-type .checkbox-label {
    border-bottom: none; }
  .zby-form-line-box.checkbox .checkbox-item-line.readonly .check-box-box {
    opacity: .5; }
  .zby-form-line-box.checkbox .checkbox-item-line.readonly .checkbox-label {
    color: #999; }
  .zby-form-line-box.checkbox .check-box-box {
    position: relative;
    width: 100px;
    height: 100px;
    float: left; }
    .zby-form-line-box.checkbox .check-box-box .check-box {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 46px;
      height: 46px;
      border-radius: 50%;
      perspective: 1000;
      -webkit-perspective: 1000;
      margin-left: -21px;
      margin-top: -21px;
      transition: 0.5s;
      -webkit-transition: 0.5s;
      transform-style: preserve-3d;
      -webkit-transform-style: preserve-3d; }
      .zby-form-line-box.checkbox .check-box-box .check-box.checked {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg); }
      .zby-form-line-box.checkbox .check-box-box .check-box .front {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 42px;
        height: 42px;
        border: 2px solid #d5d5d5;
        background: #ffffff;
        border-radius: 50%;
        z-index: 2;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden; }
      .zby-form-line-box.checkbox .check-box-box .check-box .back {
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 46px;
        height: 46px;
        font-size: 42px;
        border-radius: 50%;
        color: #46ab39;
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden; }
        .zby-form-line-box.checkbox .check-box-box .check-box .back .fa {
          display: block;
          text-align: center;
          transform: scale(1.2); }
  .zby-form-line-box.checkbox .checkbox-label {
    margin-left: 100px;
    padding: 30px 0 30px 20px;
    font-size: 26px;
    line-height: 40px;
    color: #333;
    word-break: break-all;
    border-bottom: #eee solid 2px; }
  .zby-form-line-box.number .content {
    position: relative; }
    .zby-form-line-box.number .content input {
      padding-right: 120px; }
    .zby-form-line-box.number .content .unit {
      position: absolute;
      right: 0;
      top: 0;
      width: 120px;
      color: #999;
      text-align: center;
      font-size: 26px;
      line-height: 100px; }
  .zby-form-line-box.switch .content {
    height: 100px;
    text-align: right;
    padding-top: 20px; }
  .zby-form-line-box.error {
    border-bottom-color: red; }
    .zby-form-line-box.error .title .label-name {
      color: red; }
  .zby-form-line-box .title {
    position: relative;
    padding: 0;
    width: 230px;
    float: left;
    left: 0;
    top: 0; }
    .zby-form-line-box .title .fa-asterisk {
      display: inline-block;
      font-size: 26px;
      line-height: 100px;
      color: red;
      visibility: hidden; }
      .zby-form-line-box .title .fa-asterisk.required {
        visibility: visible; }
    .zby-form-line-box .title .label-name {
      display: inline-block;
      max-width: 200px;
      height: 100px;
      padding-left: 20px;
      color: #999;
      font-size: 26px;
      line-height: 100px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top; }
  .zby-form-line-box .content {
    box-sizing: border-box;
    margin-left: 230px; }
    .zby-form-line-box .content.has-feedback {
      position: relative; }
      .zby-form-line-box .content.has-feedback input {
        padding-right: 10px; }
      .zby-form-line-box .content.has-feedback .fa {
        position: absolute;
        top: 50%;
        right: 60px;
        margin-top: -20px;
        font-size: 40px; }
        .zby-form-line-box .content.has-feedback .fa.fa-check-circle {
          color: #00b4a5; }
        .zby-form-line-box .content.has-feedback .fa.fa-exclamation-circle {
          color: #ffbf00; }
        .zby-form-line-box .content.has-feedback .fa.fa-times-circle {
          color: #f04134; }
        .zby-form-line-box .content.has-feedback .fa.fa-circle-o-notch {
          color: #108ee9; }
    .zby-form-line-box .content input {
      width: 100%;
      padding: 30px 0 30px 20px;
      font-size: 26px;
      line-height: 40px;
      color: #333;
      border: none;
      box-sizing: border-box; }
    .zby-form-line-box .content .input-readonly {
      padding-left: 20px;
      font-size: 26px;
      line-height: 100px;
      color: #999; }
    .zby-form-line-box .content .connection {
      float: left;
      overflow: hidden;
      box-sizing: border-box; }
    .zby-form-line-box .content .zby-list-item {
      padding-left: 0;
      padding-right: 20px; }
      .zby-form-line-box .content .zby-list-item .zby-item-box {
        padding-right: 20px; }

.zby-form-title {
  height: 60px;
  padding: 0 20px;
  line-height: 60px;
  font-size: 26px;
  color: #333; }

.zby-form-box > .zby-form-line-box:last-of-type {
  border-bottom: none; }

.zby-form-error {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 19px 10px;
  background: #f04134;
  font-size: 28px;
  color: #fff;
  text-align: center;
  box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
  animation: slideDown .3s; }

@keyframes slideDown {
  from {
    transform: translateY(-100%); }
  to {
    transform: translateY(0); } }

/*# sourceMappingURL=index.css.map */
