@keyframes BombIn {
  0% {
    transform: translate(-50%, -50%, 0) scale(0, 0);
    -webkit-transform: translate(-50%, -50%, 0) scale(0, 0); }
  50% {
    transform: translate(-50%, -50%, 0) scale(1.2, 1.2);
    -webkit-transform: translate(-50%, -50%) scale(1.2, 1.2); }
  100% {
    transform: translate(-50%, -50%) scale(1, 1);
    -webkit-transform: translate(-50%, -50%) scale(1, 1); } }
@keyframes Flop {
  0% {
    transform: translate(-50%, -50%) rotateY(90deg);
    -webkit-transform: translate(-50%, -50%) rotateY(90deg); }
  33% {
    transform: translate(-50%, -50%) rotateY(0deg);
    -webkit-transform: translate(-50%, -50%) rotateY(0deg); }
  67% {
    transform: translate(-50%, -50%) rotateY(-30deg);
    -webkit-transform: translate(-50%, -50%) rotateY(-30deg); }
  100% {
    transform: translate(-50%, -50%) rotateY(0deg);
    -webkit-transform: translate(-50%, -50%) rotateY(0deg); } }
@keyframes slideInFromBottom {
  0% {
    transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    opacity: 0; }
  100% {
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    opacity: 1; } }
@keyframes shake {
  from, to {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%); }
  15%, 45%, 75% {
    -webkit-transform: translate(-60%, -50%);
    transform: translate(-60%, -50%); }
  30%, 60%, 90% {
    -webkit-transform: translate(-40%, -50%);
    transform: translate(-40%, -50%); } }
@keyframes scaleIn {
  0% {
    width: 0;
    height: 0; }
  100% {
    width: 160px;
    height: 160px; } }
@keyframes scaleOut {
  0% {
    width: 160px;
    height: 160px;
    opacity: 1; }
  100% {
    width: 0;
    height: 0;
    opacity: 0; } }
@keyframes turnUp {
  0% {
    transform: translate3D(0, -10px, 0) rotateX(90deg); }
  100% {
    transform: translate3D(0, -10px, 0) rotateX(0); } }
@keyframes turnLeft {
  0% {
    transform: translate3D(-10px, 0, 0) rotateY(90deg); }
  100% {
    transform: translate3D(-10px, 0, 0) rotateY(0); } }
@keyframes turnRight {
  0% {
    transform: translate3D(10px, 0, 0) rotateY(90deg); }
  100% {
    transform: translate3D(10px, 0, 0) rotateY(0); } }
@keyframes turnBottom {
  0% {
    transform: translate3D(0, 10px, 0) rotateX(90deg); }
  100% {
    transform: translate3D(0, 10px, 0) rotateX(0); } }
.zby-item {
  box-sizing: border-box;
  position: relative;
  display: flex;
  padding: 20px 40px;
  min-height: 88px;
  vertical-align: middle;
  overflow: hidden;
  align-items: center;
  transition: background-color .3s; }
  .zby-item.zby-item-active {
    background-color: #ddd; }
  .zby-item.disabled .zby-item-content,
  .zby-item.disabled .zby-item-extra,
  .zby-item.disabled .zby-item-subtitle {
    color: #bbb; }
  .zby-item img {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: #bbb;
    overflow: hidden; }
  .zby-item .fa-thumb {
    display: inline-block;
    margin-right: 20px;
    font-size: 32px;
    line-height: 1.5; }
  .zby-item .zby-item-content {
    flex: 1;
    font-size: 32px;
    line-height: 1.5;
    color: #000;
    overflow: hidden; }
    .zby-item .zby-item-content.wrap {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
    .zby-item .zby-item-content .zby-item-subtitle {
      color: #888;
      font-size: 28px;
      line-height: 1.5;
      margin-top: .12rem; }
  .zby-item .zby-item-extra {
    flex-basis: 36%;
    color: #888;
    font-size: 28px;
    text-align: right; }
    .zby-item .zby-item-extra.wrap {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap; }
  .zby-item .zby-item-arrow {
    display: block;
    width: 30px;
    height: 56px;
    margin-left: 10px;
    text-align: center; }
    .zby-item .zby-item-arrow .fa {
      display: block;
      font-size: 48px;
      color: #888; }

/*# sourceMappingURL=item.css.map */
